<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{{ static('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <span class="display-1 d-block">500</span>
            <div class="mb-4 lead">Internal Server Error.</div>
            <a href="/" class="btn btn-link">Back to Home</a>
        </div>
    </div>
</div>
<script src="{{ static('js/jquery.min.js') }}"></script>
<script src="{{ static('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>